pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
  color: white;
  font-weight: bold;
}

#error_explanation {
  width: 780px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

fieldset {
	width: 350px;
	margin-right: 50px;
	margin-bottom: 10px;
}

.float-left {
	float: left;
}

.clear-both {
	clear: both;
}

.actions {
	min-height: 30px;
	text-align: center;
	clear: both;
}

.field input, .field select {
	width: 250px;	
}
