<% title "Bem-vindo ao SGC" %>

<%= link_to 'Cadastrar Cargos', new_cargo_path %><br />

<div>
    
    <%= link_to image_tag("buttonprofessional.gif", :border => 0), new_candidato_path, :class => "home-img-candidato" %>
    <%= link_to image_tag("buttoncompany.gif", :border => 0), new_empresa_path, :class => "home-img-vaga" %><br />    

</div>